.theme-toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  }

  .theme-toggle-container {
    margin-left: auto; /* Empurra o botão para a direita */
    display: flex;
    align-items: center;
  }
  
  .theme-toggle-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  /* Estilos para o tema claro */
  body.light-mode .theme-toggle-btn {
    color: #060417;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  body.light-mode .theme-toggle-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }